 .u-section-1 {
  min-height: 590px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 539px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 61px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 111px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 47px 25px 0;
}

.u-section-1 .u-image-1 {
  min-height: 539px;
  background-position: 50% 94.79%;
  background-repeat: no-repeat;
  background-image: url("images/Asilomar.jpg");
  background-size: cover;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 340px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1705px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 765px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-image-1 {
    min-height: 482px;
  }
}