 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/16501.jpg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 262px;
}

.u-section-1 .u-image-1 {
  width: 57px;
  height: 57px;
  margin: 53px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid solid double;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -24px 150px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid solid double;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -24px auto 0 150px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid solid double;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 35px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 62px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -188px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -398px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 479px;
}

.u-section-2 .u-group-1 {
  width: 407px;
  min-height: 253px;
  height: auto;
  margin: 127px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 688px;
  margin: -314px 0 38px auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  --gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 35px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 35px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-group-1 {
    min-height: 69px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 56px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1805px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 766px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-group-1 {
    min-height: 70px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 492px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 516px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 396px;
  margin-top: 13px;
  margin-bottom: 40px;
  height: auto;
}

.u-section-3 .u-tab-list-1 {
  background-image: none;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 0 59px;
}

.u-section-3 .u-text-2 {
  padding-left: 100px;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  padding-left: 40px;
  margin: 0;
}

.u-section-3 .u-list-icon-11 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-12 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-14 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-15 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-16 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-17 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-18 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-19 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-icon-20 {
  color: rgb(50, 190, 166) !important;
}

.u-section-3 .u-btn-25 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 474px;
  }

  .u-section-3 .u-text-4 {
    width: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 819px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-text-2 {
    padding-left: 25px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 598px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 13px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 36px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 68px auto 0 7px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-style: normal;
  margin: 46px 7px 0 0;
}

.u-section-4 .u-btn-1 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 65px auto 0;
  padding: 7px 26px 8px 25px;
}

.u-section-4 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-4 .u-image-1 {
  min-height: 197px;
  background-position: 50% 53.97%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1504883303951-581cbf120aa4.jpeg");
  background-size: cover;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 299px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 299px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 28px 30px 29px;
}

.u-section-4 .u-text-6 {
  font-weight: 600;
  margin: 0 1px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-style: normal;
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -41px;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    --radius: 50px;
    min-height: 409px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 315px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-image-1 {
    min-height: 77px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 58px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-1 {
    min-height: 37px;
  }
}