.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  width: 132px;
  height: 132px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 291px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 8px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 292px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 292px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 133px;
  height: 133px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 292px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 256px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 113px;
  height: 113px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 256px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 113px;
  height: 113px;
  background-image: url("images/Chittagong_College_logo.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 51px auto 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 256px;
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 28px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-1 .u-image-1 {
    width: 199px;
    height: 199px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 241px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 241px;
  }

  .u-section-1 .u-image-2 {
    width: 199px;
    height: 199px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 241px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 211px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 211px;
  }

  .u-section-1 .u-image-4 {
    width: 88px;
    height: 88px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 184px;
  }

  .u-section-1 .u-image-1 {
    width: 148px;
    height: 148px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 185px;
  }

  .u-section-1 .u-image-2 {
    width: 148px;
    height: 148px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 162px;
  }

  .u-section-1 .u-image-3 {
    width: 105px;
    height: 105px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 162px;
  }

  .u-section-1 .u-image-4 {
    width: 59px;
    height: 59px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1072px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 176px;
    order: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 348px;
    order: 2;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 303px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 911px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1408px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -1328px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 115px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 111px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 219px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 574px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}