.u-section-1 {
  background-image: none;
  min-height: 775px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 393px);
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-image-1 {
  width: 452px;
  height: 503px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 454px;
  height: 514px;
  background-image: none;
  margin: -463px 52px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 682px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6.125rem;
  line-height: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px 18px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 27px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 657px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 330px);
    left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 468px;
  }

  .u-section-1 .u-shape-2 {
    width: 410px;
    height: 463px;
    margin-top: -414px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 261px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    height: 389px;
  }

  .u-section-1 .u-shape-2 {
    width: 310px;
    height: 409px;
    margin-top: -353px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 320px);
    height: 565px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -515px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 809px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 391px;
  }

  .u-section-1 .u-shape-2 {
    width: 453px;
    height: 391px;
    margin-top: -337px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 231px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-image-1 {
    height: 381px;
    width: 300px;
  }

  .u-section-1 .u-shape-2 {
    width: 297px;
    height: 371px;
    margin-top: -327px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 639px;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 33px auto 0;
}

.u-section-2 .u-list-1 {
  width: 669px;
  grid-auto-rows: 100%;
  margin: 33px auto 22px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 512px;
  grid-gap: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -48px 20px 0 70px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -48px 20px 0 70px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -48px 20px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 194px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 54px auto 0 72px;
  padding: 10px 20px 10px 18px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -59px 297px 60px auto;
  padding: 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 53px;
    margin-left: auto;
    padding: 59px 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 34px;
    margin-bottom: 47px;
    margin-left: 73px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 977px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 830px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 105px;
  height: 105px;
  margin: 0 auto 0 41px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: normal;
  margin: 45px 207px 0 41px;
}

.u-section-4 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 30px 21px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 830px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-shape-2 {
  width: 125px;
  height: 125px;
  background-image: none;
  margin: 645px 14px 0 auto;
}

.u-section-4 .u-image-1 {
  height: 453px;
  background-image: url("images/TenminuteSchoolAymanSadiq.jpg");
  background-position: 50% 50%;
  width: 453px;
  margin: -599px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 777px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 81px;
  }

  .u-section-4 .u-shape-1 {
    width: 85px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 777px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 568px;
  }

  .u-section-4 .u-image-1 {
    height: 376px;
    width: 376px;
    margin-top: -522px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 859px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 480px;
  }

  .u-section-4 .u-image-1 {
    height: 288px;
    width: 288px;
    margin-top: -434px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-shape-1 {
    height: 86px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 795px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 922px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 222px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -326px;
    margin-left: auto;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 417px;
}

.u-section-5 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 795px;
  margin: 126px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
  margin: 46px 117px 0 104px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 4px;
    margin-right: 17px;
    width: 795px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 {
  min-height: 509px;
  background-image: none;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 334px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 87px 30px 67px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 0 12px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(51,44,41,0.4);
  margin: 60px auto 0;
  padding: 18px 65px 19px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 334px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 87px 30px 67px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 0 12px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 2px 5px 0px 0 rgba(114,88,63,0.4);
  margin: 61px auto 0;
  padding: 18px 65px 19px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 450px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 48px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 96px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 275px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 59px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 375px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 60px 40px 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px 40px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 370px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 227px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0 67px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(33, 33, 33) !important;
  margin: -64px auto 0;
}

.u-section-7 .u-icon-3 {
  width: 84px;
  height: 84px;
  margin: -84px 47px 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 227px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 113px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 108px;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 12px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-7 .u-icon-3 {
    margin-right: 47px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 19px;
    margin-left: 12px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: -83px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 141px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 12px;
  }
}