 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  transition-duration: 1s;
  --radius: 20px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  transition-duration: 3s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 882px;
  transition-duration: 0.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-2 {
    width: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  border-style: solid !important;
  border-top-width: 8px !important;
  border-left-width: 8px !important;
  border-right-width: 8px !important;
  border-bottom-width: 8px !important;
  border-color: #9ca5ad !important;
  transform: rotate(359deg) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  border-style: solid !important;
  border-top-width: 8px !important;
  border-left-width: 8px !important;
  border-right-width: 8px !important;
  border-bottom-width: 8px !important;
  border-color: #9ca5ad !important;
  transform: rotate(359deg) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.2) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.2) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 337px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 21px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 116px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 238px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 763px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 392px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 59px;
  }
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 324px;
  --effect-scale: 1.5;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/22dd54da-a4e1-4070-9ac6-a9ad663f1011.webp");
  transition-duration: 7s;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 22px 30px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  border-style: solid;
  background-image: none;
  margin: 48px auto 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 267px;
    background-position: 50% 50%;
    transition-duration: 0.75s;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 57px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 97px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 38px;
    padding: 12px 0 13px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 643px;
}

.u-section-4 .u-slider-1 {
  width: 690px;
  min-height: 500px;
  height: auto;
  margin: 60px auto 0 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -20px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/maxresdefault.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/prothomalo_bangla_2020_10_e26f5fab_93eb_4863_9e19_1ec3ed09ad57_BRAC_University.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/Butex_Arial_View.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-4 .u-group-1 {
  width: 450px;
  min-height: 520px;
  height: auto;
  margin: -498px 0 60px auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 2px auto 0 51px;
}

.u-section-4 .u-line-1 {
  width: 278px;
  margin: 7px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 4px 51px 0 60px;
}

.u-section-4 .u-line-2 {
  width: 278px;
  height: 0;
  margin: 9px auto 0 51px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 9px 51px 0 auto;
}

.u-section-4 .u-line-3 {
  width: 278px;
  margin: 7px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 16px 51px 0 60px;
}

.u-section-4 .u-line-4 {
  width: 271px;
  transform-origin: left center 0px;
  margin: 15px auto 0 51px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 14px auto 0 167px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 470px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-slider-1 {
    width: 366px;
    min-height: 375px;
    margin-top: 119px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-group-1 {
    width: 354px;
    margin-top: -434px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-4 .u-slider-1 {
    width: 364px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 347px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 57px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 427px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 2.2;
  letter-spacing: 9px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 199px 0 182px;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 682px;
  margin: 28px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid solid double;
  padding: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 682px;
  margin: 26px auto 60px;
}

.u-section-5 .u-btn-2 {
  border-style: solid solid double;
  padding: 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 516%;
  top: -208%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 82px;
    margin-right: 99px;
    width: 682px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    line-height: 1.6;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 223%;
    left: -62%;
    height: 100%;
    top: 0%;
  }
}