 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 392px;
}

.u-section-1 .u-image-1 {
  width: 340px;
  height: 313px;
  margin: 32px auto 0 78px;
}

.u-section-1 .u-group-elements-1 {
  width: 526px;
  min-height: 267px;
  height: auto;
  margin: -267px 27px 47px auto;
}

.u-section-1 .u-group-elements-2 {
  min-height: 205px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  transition-duration: 3s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -32px 0 0 rgba(0,0,0,0);
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.75s;
  font-size: 0.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px 5px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 186px;
  min-width: 114px;
  color: rgb(3, 20, 37) !important;
  margin: 27px auto 0 175px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 60px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-2 {
    min-height: 231px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 33px;
    margin-left: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    min-height: 305px;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 211px;
    margin-top: 94px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -305px;
    margin-left: auto;
  }
}

.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]),
.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]).u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]).u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 8px !important;
  border-left-width: 8px !important;
  border-right-width: 8px !important;
  border-bottom-width: 8px !important;
  border-color: #b9bfc5 !important;
  transform: rotate(359deg) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 8px !important;
  border-color: transparent !important;
}

.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]).u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]).u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 8px !important;
  border-left-width: 8px !important;
  border-right-width: 8px !important;
  border-bottom-width: 8px !important;
  border-color: #b9bfc5 !important;
  transform: rotate(359deg) !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 8px !important;
  border-color: transparent !important;
}

.u-container-layout:hover > .u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-block-bbf2-12:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #ffffff !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.2) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.2) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 419px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 394px;
  --effect-scale: 1.5;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  margin: 8px 216px 0 173px;
}

.u-section-2 .u-group-elements-1 {
  width: 383px;
  min-height: 59px;
  height: auto;
  margin: 28px auto 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 2px;
  font-weight: 700;
  transition-duration: 0.5s;
  border-style: solid;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 0 146px 0 0;
  padding: 19px 34px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  border-style: solid;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: -59px 0 0 auto;
  padding: 19px 44px 20px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    transition-duration: 0.75s;
    min-height: 325px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 116px;
    margin-left: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 29px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 320px;
    min-height: 57px;
    margin-top: 27px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 1px;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -57px;
    padding-top: 18px;
    padding-bottom: 19px;
  }
}

.u-block-4589-20,
.u-block-4589-20:before,
.u-block-4589-20 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-4589-20.u-block-4589-20.u-block-4589-20:hover {
  transform: scale(1) translateY(px) !important;
}

.u-block-4589-20.u-block-4589-20.u-block-4589-20.hover {
  transform: scale(1) translateY(px) !important;
}

.u-container-layout:hover > .u-block-4589-20 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-block-4589-20 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 291px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 99px;
  margin: 20px auto 0;
}

.u-section-3 .u-icon-1 {
  font-size: 2.3em;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 0.875rem;
  margin: 20px 100px 41px;
}

.u-section-3 .u-icon-3 {
  width: 14px;
  height: 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 586px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  text-decoration: underline !important;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 137px;
  background-image: url("images/20201109_CampusStock_MFA05636-1090x7271.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 137px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-2 {
  min-height: 157px;
  background-image: url("images/prothomalo_bangla_2020_10_e26f5fab_93eb_4863_9e19_1ec3ed09ad57_BRAC_University.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 157px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0 16px 0 4px;
}

.u-section-4 .u-image-3 {
  min-height: 157px;
  background-image: url("images/Butex_Arial_View.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 157px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 113px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 113px;
  }

  .u-section-4 .u-image-2 {
    min-height: 129px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 129px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 129px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 129px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-4 .u-image-1 {
    min-height: 87px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 99px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    min-height: 99px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-4 .u-image-1 {
    min-height: 196px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 223px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-4 .u-image-1 {
    min-height: 123px;
  }

  .u-section-4 .u-image-2 {
    min-height: 140px;
  }

  .u-section-4 .u-image-3 {
    min-height: 140px;
  }
} .u-section-5 {
  background-position: 50% 82.22%;
  background-repeat: no-repeat;
  background-image: url("images/photo-1469474968028-56623f02e42e.jpeg");
  background-size: cover;
}

.u-section-5 .u-sheet-1 {
  min-height: 427px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 2.2;
  letter-spacing: 9px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 199px 0 182px;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 28px auto 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 682px;
  margin: 28px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid solid double;
  padding: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  width: 682px;
  margin: 26px auto 60px;
}

.u-section-5 .u-btn-2 {
  border-style: solid solid double;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 82px;
    margin-right: 99px;
    width: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.125rem;
    width: auto;
    margin-top: 59px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    line-height: 1.6;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
}