.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 411px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  margin: 20px 525px 0 12px;
}

.u-section-1 .u-shape-1 {
  width: 68px;
  height: 49px;
  margin: 60px auto 0 145px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: -49px auto 0 241px;
}

.u-section-1 .u-image-1 {
  width: 486px;
  height: 356px;
  filter: brightness(0);
  margin: -286px 27px 35px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 336px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 116px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-left: 68px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -49px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 249px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 315px;
}

.u-section-2 .u-text-1 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 37px;
  height: 76px;
  margin: 31px auto 37px;
}

.u-section-2 .u-shape-1 {
  width: 76px;
  height: 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-rotation-parent-1 {
    height: 75px;
  }

  .u-section-2 .u-shape-1 {
    width: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 0.777778rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 105px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 23px auto;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 952px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-2 {
  padding: 22px 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 509px;
  width: 507px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 510px;
  height: 293px;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 236px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 173px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-4 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 6px;
    margin-left: 0;
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-4 .u-image-2 {
    height: 185px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 952px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 509px;
  width: 501px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 510px;
  height: 293px;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 236px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-5 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 173px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-5 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 361px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-5 .u-image-2 {
    height: 185px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 971px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 509px;
  width: 502px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 293px;
  margin: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-6 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-6 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-6 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-6 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 78px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-6 .u-custom-html-1 {
    min-height: 370px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-6 .u-image-1 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-6 .u-image-2 {
    height: 185px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 581px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-custom-html-1 {
  min-height: 509px;
  width: 503px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 375px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 293px;
  margin: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-video-1 {
  height: 293px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-7 .u-custom-html-1 {
    height: auto;
    width: 450px;
    margin-left: 62px;
    margin-right: 34px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-7 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 356px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-7 .u-custom-html-1 {
    min-height: 344px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-7 .u-image-1 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 224px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 129px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 30px;
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-9 .u-list-1 {
  margin-bottom: 0;
  margin-top: 16px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1143px;
  grid-gap: 10px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 2px 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 2px 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
}

.u-section-9 .u-container-layout-6 {
  padding: 2px 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-7 {
  background-image: none;
}

.u-section-9 .u-container-layout-7 {
  padding: 2px 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-8 {
  background-image: none;
}

.u-section-9 .u-container-layout-8 {
  padding: 2px 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-9 {
  background-image: none;
}

.u-section-9 .u-container-layout-9 {
  padding: 2px 0;
}

.u-section-9 .u-text-9 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

.u-section-9 .u-list-item-10 {
  background-image: none;
}

.u-section-9 .u-container-layout-10 {
  padding: 2px 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.5rem;
  margin: 10px 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-7 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-8 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-9 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-10 {
    font-size: 0.888889rem;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 485px;
}

.u-section-10 .u-list-1 {
  margin-bottom: 31px;
  margin-top: 13px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 442px;
  grid-gap: 10px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 10px;
}

.u-section-10 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 10px;
}

.u-section-10 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 10px;
}

.u-section-10 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
}

.u-section-10 .u-container-layout-4 {
  padding: 10px;
}

.u-section-10 .u-text-4 {
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 0.888889rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.888889rem;
  }

  .u-section-10 .u-text-3 {
    font-size: 0.888889rem;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.888889rem;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 529px;
}

.u-section-11 .u-custom-html-1 {
  min-height: 509px;
  width: 509px;
  margin: 10px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-custom-html-1 {
    height: auto;
    margin-right: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-11 .u-custom-html-1 {
    min-height: 344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}