.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 568px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 42px auto 0 399px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  margin: -25px 62px 0 475px;
}

.u-section-1 .u-image-1 {
  width: 311px;
  height: 311px;
  background-image: url("images/ge52d0070d36b58296f2a85c7d2a900fae476974ebba21dbb82eb339fdf0387c1c560e12845461a8c6266418d036562c341a9a35fd91353e9c6933fe44953b18b_1280.png");
  background-position: 50% 50%;
  filter: brightness(0.45);
  margin: 0 379px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 236px;
  height: 236px;
  margin: -330px auto 0 98px;
}

.u-section-1 .u-shape-2 {
  width: 117px;
  height: 117px;
  margin: 42px auto 0 29px;
}

.u-section-1 .u-group-1 {
  min-height: 172px;
  width: 498px;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -213px 12px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  border-style: none;
  font-weight: 700;
  letter-spacing: normal;
  margin: 62px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 468px;
    margin-left: 329px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -458px;
    margin-right: 0;
    margin-left: 337px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -8px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -322px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 89px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 252px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 728px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -687px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 149px;
    margin-right: 229px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -438px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 136px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -142px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-icon-1 {
    width: 33px;
    height: 33px;
    margin-top: 43px;
    margin-left: 57px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -19px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-1 {
    width: 215px;
    height: 215px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -215px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -217px;
    margin-left: 15px;
  }

  .u-section-1 .u-group-1 {
    min-height: 79px;
    width: 133px;
    margin-top: 69px;
    margin-right: auto;
    margin-bottom: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    margin-top: 15px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-shape-1 {
  width: 196px;
  height: 89px;
  margin: 46px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 73px;
  height: 76px;
  margin: 31px auto 60px;
}

.u-section-2 .u-shape-2 {
  width: 76px;
  height: 73px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-rotation-parent-1 {
    height: 75px;
  }

  .u-section-2 .u-shape-2 {
    width: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 270px;
    height: 102px;
    margin-top: 61px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 0.777778rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: 27px;
    margin-bottom: 19px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 105px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 23px auto;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 952px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 563px;
}

.u-section-4 .u-container-layout-2 {
  padding: 22px 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 509px;
  width: 507px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 510px;
  height: 293px;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 236px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 173px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-4 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: 6px;
    margin-left: 0;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-4 .u-image-2 {
    height: 185px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 952px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 509px;
  width: 501px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 510px;
  height: 293px;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 236px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-5 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 173px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-5 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 361px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-5 .u-image-2 {
    height: 185px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 971px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 26px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 509px;
  width: 502px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 293px;
  margin: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 353px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 293px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-6 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 291px;
  }

  .u-section-6 .u-image-2 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-6 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 223px;
  }

  .u-section-6 .u-image-2 {
    height: 173px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 335px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 78px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-6 .u-custom-html-1 {
    min-height: 370px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-6 .u-image-1 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 211px;
  }

  .u-section-6 .u-image-2 {
    height: 185px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 581px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-custom-html-1 {
  min-height: 509px;
  width: 503px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 375px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 293px;
  margin: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-video-1 {
  height: 293px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-7 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-7 .u-custom-html-1 {
    height: auto;
    width: 450px;
    margin-left: 62px;
    margin-right: 34px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-7 .u-image-1 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-7 .u-image-1 {
    height: 173px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 237px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 356px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-7 .u-custom-html-1 {
    min-height: 344px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-7 .u-image-1 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 224px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 129px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 30px;
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1710px;
}

.u-section-9 .u-list-1 {
  margin-bottom: 0;
  margin-top: 16px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 29px));
  min-height: 1694px;
  grid-gap: 58px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
}

.u-section-9 .u-container-layout-6 {
  padding: 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-7 {
  background-image: none;
}

.u-section-9 .u-container-layout-7 {
  padding: 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-8 {
  background-image: none;
}

.u-section-9 .u-container-layout-8 {
  padding: 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-9 {
  background-image: none;
}

.u-section-9 .u-container-layout-9 {
  padding: 0;
}

.u-section-9 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-10 {
  background-image: none;
}

.u-section-9 .u-container-layout-10 {
  padding: 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-11 {
  background-image: none;
}

.u-section-9 .u-container-layout-11 {
  padding: 0;
}

.u-section-9 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-12 {
  background-image: none;
}

.u-section-9 .u-container-layout-12 {
  padding: 0;
}

.u-section-9 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-13 {
  background-image: none;
}

.u-section-9 .u-container-layout-13 {
  padding: 0;
}

.u-section-9 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-14 {
  background-image: none;
}

.u-section-9 .u-container-layout-14 {
  padding: 0;
}

.u-section-9 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-15 {
  background-image: none;
}

.u-section-9 .u-container-layout-15 {
  padding: 0;
}

.u-section-9 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-16 {
  background-image: none;
}

.u-section-9 .u-container-layout-16 {
  padding: 0;
}

.u-section-9 .u-text-16 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-17 {
  background-image: none;
}

.u-section-9 .u-container-layout-17 {
  padding: 0;
}

.u-section-9 .u-text-17 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-18 {
  background-image: none;
}

.u-section-9 .u-container-layout-18 {
  padding: 0;
}

.u-section-9 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-19 {
  background-image: none;
}

.u-section-9 .u-container-layout-19 {
  padding: 0;
}

.u-section-9 .u-text-19 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

.u-section-9 .u-list-item-20 {
  background-image: none;
}

.u-section-9 .u-container-layout-20 {
  padding: 0;
}

.u-section-9 .u-text-20 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 1397px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-3 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-4 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-6 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-7 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-8 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-9 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-10 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-11 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-12 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-13 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-14 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-15 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-16 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-17 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-18 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-19 {
    font-size: 0.888889rem;
  }

  .u-section-9 .u-text-20 {
    font-size: 0.888889rem;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 529px;
}

.u-section-10 .u-custom-html-1 {
  min-height: 509px;
  width: 509px;
  margin: 10px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-custom-html-1 {
    height: auto;
    margin-right: 50px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-10 .u-custom-html-1 {
    min-height: 344px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}