.u-section-1 {
  background-image: none;
  min-height: 656px;
}

.u-section-1 .u-image-1 {
  width: 225px;
  height: 370px;
  margin: 146px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 946px;
  min-height: 486px;
  margin: -486px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
  margin: 162px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 186px;
  }

  .u-section-1 .u-group-1 {
    width: 576px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-top: 228px;
    margin-right: -9px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 142px;
  }

  .u-section-1 .u-group-1 {
    width: 441px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -122px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 133px;
    margin-top: 203px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    min-height: 173px;
    margin-top: -386px;
    margin-left: calc(((100% - 540px) / 2) + 20px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 3rem;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 112px;
    margin-top: 70px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 290px);
    margin-top: -370px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin: 173px 40px -72px -40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-image-1 {
  width: 420px;
  left: 0;
  right: auto;
  filter: brightness(0.9);
}

.u-section-3 .u-list-1 {
  min-height: 418px;
  grid-template-columns: repeat(2, 50%);
  width: 876px;
  grid-gap: 0px;
  margin: 100px auto 0;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 318px;
  min-height: 149px;
  margin: -65px -30px -5px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-shape-1 {
  width: 161px;
  height: 161px;
  margin: 62px 25px 36px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-3 .u-list-1 {
    min-height: 410px;
    width: 810px;
    height: auto;
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 301px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-3 .u-list-1 {
    min-height: 519px;
    width: 635px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 25px;
  }

  .u-section-3 .u-shape-1 {
    margin: 100px auto 47px 547px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-3 .u-image-1 {
    width: 369px;
    height: 1069px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 912px;
    grid-template-columns: 100%;
    width: 305px;
    margin-top: -991px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-3 .u-group-2 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-3 .u-group-3 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-3 .u-group-4 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin: 89px 0 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-3 .u-image-1 {
    width: 271px;
    height: 1153px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1032px;
    width: 292px;
    margin-top: -1093px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-1 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-2 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-3 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
  }

  .u-section-3 .u-group-4 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 98px;
    margin-bottom: 49px;
  }
}.u-section-4 {
  min-height: 748px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 337px);
  left: 0;
  right: auto;
}

.u-section-4 .u-list-1 {
  min-height: 561px;
  grid-template-columns: 100%;
  width: 496px;
  grid-gap: 0px 0px;
  margin: 60px calc(((100% - 1140px) / 2) + 43px) 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 107px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 107px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-4 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -61px 0 0 107px;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0 107px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  width: 495px;
  min-height: 394px;
  margin: -471px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-4 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Chenla;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 693px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 337px);
  }

  .u-section-4 .u-list-1 {
    width: 424px;
    height: auto;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 95px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    min-height: 399px;
    margin-top: -489px;
    margin-bottom: 151px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 666px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 273px);
  }

  .u-section-4 .u-list-1 {
    width: 360px;
    margin-top: 53px;
    margin-right: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 273px;
    min-height: 177px;
    margin: -369px 497px 60px calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    font-size: 2.25rem;
    margin: 42px 30px -324px -30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1077px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 337px);
  }

  .u-section-4 .u-list-1 {
    min-height: 486px;
    width: 540px;
    margin-top: 303px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 422px);
    min-height: 214px;
    margin-top: -720px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1263px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 337px);
  }

  .u-section-4 .u-list-1 {
    min-height: 804px;
    width: 340px;
    margin-top: 163px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    min-height: 274px;
    margin-top: -1107px;
    margin-right: 67px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-7 {
    font-size: 3rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 924px;
}

.u-section-5 .u-group-1 {
  width: 706px;
  min-height: 115px;
  margin: 97px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 15px 20px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 88px;
  margin-bottom: 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 604px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 604px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    width: 582px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 23px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 446px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2361px;
  }

  .u-section-5 .u-group-1 {
    min-height: 273px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 368px;
    margin: 25px auto 61px 86px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 750px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/Vasha.jpg");
  background-position: 50% 50%;
  min-height: 315px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 315px;
  background-image: url("images/bdpo1.jpg");
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 52px 104px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    min-height: 176px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-4 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-text-3 {
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 972px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-bottom: 60px;
    min-height: 88px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    min-height: 154px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 45px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 72px;
  }
}