 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 274px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  animation-timing-function: ease-in-out;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 33px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-text-1 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-1 .u-text-2 {
    width: 781px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 316px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 93px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-bottom: 32px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 168px;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 33px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 31px;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 14px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 118px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 26px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.34375rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 456px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0 0;
}

.u-section-5 .u-line-1 {
  margin-top: 60px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 38px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 204px;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 0 15px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-5 .u-group-elements-1 {
  width: 318px;
  min-height: 43px;
  margin: -37px auto 0 7px;
}

.u-section-5 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 102px;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-btn-3 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 198px;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 204px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-5 .u-text-2 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 48px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 42px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 236px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 934px;
}

.u-section-6 .u-text-1 {
  font-weight: 900;
  margin: 59px auto 0 0;
}

.u-section-6 .u-line-1 {
  margin-top: 61px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0;
}

.u-section-6 .u-group-elements-1 {
  width: 318px;
  min-height: 40px;
  height: auto;
  margin: -24px auto 0 0;
}

.u-section-6 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 223px 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 127px 0 102px;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-3 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 235px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 17px;
}

.u-section-6 .u-text-3 {
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  font-size: 0.75rem;
  margin: 14px auto 0 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 198px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0;
}

.u-section-6 .u-group-elements-2 {
  width: 318px;
  min-height: 40px;
  height: auto;
  margin: 8px auto 0 7px;
}

.u-section-6 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 223px 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 127px 0 102px;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-6 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 198px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-size: 0.75rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-layout-wrap-3 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 231px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0 25px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  margin: 0;
}

.u-section-6 .u-group-elements-3 {
  width: 318px;
  min-height: 40px;
  margin: -40px auto 0 7px;
}

.u-section-6 .u-btn-7 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 223px 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-8 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 127px 0 102px;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-btn-9 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 31px 6px 30px;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 231px;
  background-image: none;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 163px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 190px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 240px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 240px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
  }
}