.u-section-1 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 233px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 62px 20px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 30px auto;
  padding: 18px 95px 18px 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1383px;
}

.u-section-2 .u-image-1 {
  width: 712px;
  height: 863px;
  margin: 61px auto 0;
}

.u-section-2 .u-image-2 {
  width: 712px;
  height: 746px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 655px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 566px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 412px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 356px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 341px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px 226px 0 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 35px;
  margin-left: 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 151px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 571px;
  margin-top: 20px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 151px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 151px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

.u-section-4 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-4 .u-accordion-1 {
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-right: 371px;
  }

  .u-section-4 .u-btn-2 {
    width: 225px;
    height: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 341px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px 226px 0 0;
}

.u-section-5 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 35px;
  margin-left: 0;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 151px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-5 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 151px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 151px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 151px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  margin-top: 0;
  padding: 8px 28px 8px 27px;
}

.u-section-5 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 151px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-5 .u-accordion-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 341px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px 226px 0 0;
}

.u-section-6 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 35px;
  margin-left: 0;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 151px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  margin: 0 auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 151px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  margin-top: 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-6 .u-accordion-1 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 177px;
}

.u-section-7 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px 0;
}

.u-section-7 .u-btn-1 {
  margin: 30px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    width: 225px;
    height: 22px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 775px;
}

.u-section-8 .u-image-1 {
  width: 420px;
  left: 0;
  right: auto;
  filter: brightness(0.9);
}

.u-section-8 .u-list-1 {
  min-height: 418px;
  grid-template-columns: repeat(2, 50%);
  width: 876px;
  grid-gap: 0px;
  margin: 100px auto 0;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-1 {
  width: 318px;
  min-height: 149px;
  margin: -65px -30px -5px auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-2 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-3 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-group-4 {
  width: 318px;
  min-height: 149px;
  background-size: auto;
  margin: -65px -30px -5px auto;
}

.u-section-8 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-shape-1 {
  width: 161px;
  height: 161px;
  margin: 62px 25px 36px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-8 .u-list-1 {
    min-height: 410px;
    width: 810px;
    height: auto;
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-8 .u-group-1 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-2 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-3 {
    width: 301px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-4 {
    width: 301px;
    min-height: 150px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-8 .u-list-1 {
    min-height: 519px;
    width: 635px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-8 .u-group-1 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 25px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-8 .u-group-2 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-8 .u-group-3 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-right: 25px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-8 .u-group-4 {
    width: 216px;
    min-height: 225px;
    margin-right: 0;
    margin-bottom: -15px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-right: 25px;
  }

  .u-section-8 .u-shape-1 {
    margin: 100px auto 47px 547px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-8 .u-image-1 {
    width: 369px;
    height: 1069px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 0;
  }

  .u-section-8 .u-list-1 {
    min-height: 912px;
    grid-template-columns: 100%;
    width: 305px;
    margin-top: -991px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-8 .u-group-1 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-8 .u-group-2 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-8 .u-group-3 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .u-section-8 .u-group-4 {
    min-height: 178px;
    margin-bottom: 0;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-shape-1 {
    margin: 89px 0 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-8 .u-image-1 {
    width: 271px;
    height: 1153px;
  }

  .u-section-8 .u-list-1 {
    min-height: 1032px;
    width: 292px;
    margin-top: -1093px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-1 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-2 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-3 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
  }

  .u-section-8 .u-group-4 {
    width: 196px;
    min-height: 210px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 98px;
    margin-bottom: 49px;
  }
}